<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>